{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
 <h3 class="text-white my-5">About Page</h3> 
 <p> <b> <u> Our Vision</u></b>
    <br>
MiniBlog is a dot com business with the heart of dot org.

We are a technology company on a mission to equip students with relevant skills & practical exposure through internships and online trainings. Imagine a world full of freedom and possibilities. A world where you can discover your passion and turn it into your career. A world where your practical skills matter more than your university degree. A world where you do not have to wait till 21 to taste your first work experience (and get a rude shock that it is nothing like you had imagine it to be). A world where you graduate fully assured, fully confident, and fully prepared to stake claim on your place in the world.

At MiniBlog, we are making this dream a reality, join us!</p>
</div>

{% endblock content %}